<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luo.trade.repository.mapper.UserPOMapper">

  <resultMap id="BaseResultMap" type="com.luo.trade.repository.po.UserPO">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="tno" jdbcType="INTEGER" property="tno" />
    <result column="tname" jdbcType="VARCHAR" property="tname" />
    <result column="tgrade" jdbcType="INTEGER" property="tgrade" />
  </resultMap>

  <sql id="Base_Column_List">
    id, username, password, tno, tname, tgrade
  </sql>

  <select id="queryUserPo" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from user
    where id = #{id}
  </select>

</mapper>